/venv/
db.sqlite3
/jdwebport_project/__pycache__/
/jdwebport_app/__pycache__/
/jdwebport_app/migrations/__pycache__/
/jdwebport_project/.env/
.env
/media/

# Elastic Beanstalk Files
.ebextensions
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
